    <header class="container">
        <div class="row">
                <a href="" class="btn btn-primary col-xs-5">Conférences</a>
        </div>
    </header>
    <section id="main-view" class="container">
        <div class="row">
            <img src="../images/devfest-logo.jpg"  alt="" style="width: 30%" class="col-xs-12 img-responsive">
        </div>
        <div class="row">
            <h1 class="text-center col-xs-5">Conférence</h1>
        </div>
        <div class="row">
            <a href="#speakers-list" class="col-xs-5 btn btn-primary">Voir les speakers</a>
        </div>
        <br>
        
        <div class="row">
            <a href="#sessions-list" class="col-xs-5 btn btn-primary">Voir les sessions</a>
        </div>
    </section>